git+https://github.com/rodrigosestari/pytrends.git#egg=pytrends
tweepy
praw
pytube
google-api-python-client
git+https://github.com/rodrigosestari/instagram-explore.git#egg=instagram-explore
bs4
facebook-sdk

pytumblr
feedparser

Wikidata